{namespace tnu=Tx_Thomasnu_ViewHelpers}

<f:form action="{action}" arguments="{gallery: gallery, start: start, back: back, oldId: id}" objectName="{objectName}" object="{object}" method="post">
	<div class="section"> 
		<div class="col-main">
			<div class="main">
				<h4><f:link.action controller="Gallery" action="slideshow" 
						arguments="{start: start, back: back}" title="{tnu:translate(key: 'common.cancel')}">[{tnu:translate(key: 'common.cancel')}]</f:link.action>
				<tnu:eval code="substr('{start}', 0, -2)" as="galleryId">
					<tnu:if condition="'{action}' == 'create'">
						<f:then>
							<tnu:translate key="photo.createHeader" /></h4>
						</f:then>
						<f:else>
							<tnu:translate key="photo.editHeader" arguments="{0: galleryId}" /></h4>
						</f:else>
					</tnu:if>
				</tnu:eval>
				<p><b>&nbsp;<tnu:translate key="gallery.header" /></b><br />
				<f:form.textfield name="galleryProperties[header]" value="{gallery.header}" size="28" maxlength="256" /></p>
				<p><b>&nbsp;<tnu:translate key="gallery.link" /></b><br />
				<f:form.textfield name="galleryProperties[link]" value="{gallery.link}" size="3" style="width: 60px;" /></p>
				<p><b>&nbsp;<tnu:translate key="photo.id" /></b><br />
				<f:form.textfield property="id" size="16" style="width: 60px;" />
				<f:if condition="{error}">
					<tnu:if condition="strlen('{error}') == strlen('{id}')">
						<f:then>
							<span class="mark"><tnu:translate key="photo.error"" /></span>
						</f:then>
						<f:else>
							<span class="mark"><tnu:translate key="photo.error1" arguments="{0: error}" /></span>
						</f:else>
					</tnu:if>
				</f:if></p>
				<p><b>&nbsp;<tnu:translate key="photo.thumbnail" /></b><br />
				<f:form.textarea property="text" rows="5" cols="49" style="width: 400px;" /></p>
				<p><b>&nbsp;<tnu:translate key="photo.caption" /></b><br />
				<f:form.textarea property="caption" rows="5" cols="49" style="width: 400px;" /></p>
				<p><f:form.submit value="{tnu:translate(key: 'common.save')}" /><p>
			</div>
		</div>
		<div class="col-margin">
			<div class="margin-top">
				<f:image src="fileadmin/images/gallery/{id}.jpg" alt="{id}" width="160m" />
				<tnu:wiki>{tnu:translate(key: 'gallery.help')}</tnu:wiki>			
			</div>
		</div>
	</div>
</f:form>
<div id = "slideshow">
	<h2>{settings.galleryTitle} {gallery.header}</h2>
</div>
