{namespace tnu=Tx_Thomasnu_ViewHelpers}

<div class="section"> 
	<div class="col-main">
		<div class="main">
			<h5><f:render partial="NewsTitle" arguments="{news: news, detail: 1}" /></h5>
			<tnu:wiki>{news.teaser}</tnu:wiki>
		</div>
	</div>
	<div class="col-margin">
		<div class="margin-top">
			<f:if condition="{blog}">
				<tnu:wiki>{tnu:translate(key: 'blog.welcome')}</tnu:wiki>			
				<p><b>&nbsp;<br /><f:link.action action="info" arguments="{blog: blog}">{tnu:translate(key: 'news.overview')}</f:link.action></b></p>
				<f:for each="{infos}" as="link">
					<p><b><f:link.action action="detail" arguments="{news: link}">
						<tnu:wiki noTags="1">£L{link.title}</tnu:wiki>
					</f:link.action></b></p>
				</f:for>
				<p>&nbsp;</p>
			</f:if>
			<f:if condition="{news.margin}">
				<tnu:wiki>{news.margin}</tnu:wiki>			
				<p><b>&nbsp;<br /><f:link.action action="info" arguments="{blog: blog}">{tnu:translate(key: 'news.overview')}</f:link.action></b></p>
			</f:if>
		</div>
		<div class="margin-bottom">
			<tnu:wiki><tnu:newsTeaser teaser="/">{news.margin}</tnu:newsTeaser></tnu:wiki>			
			<p><b><f:link.action action="info" arguments="{blog: blog}">{tnu:translate(key: 'news.overview')}</f:link.action></b></p>
		</div>
	</div>
</div>

