{namespace tnu=Tx_Thomasnu_ViewHelpers}

<table border="0" cellspacing="0" cellpadding="0" width="575">
	<tr>
		<td width="400" valign="top">
			<h2 style="margin-bottom:22px;">{settings.fgTitle} {gallery.header}</h2>
		</td>
		<td width="15"></td>
		<td width="160" align="right" valign="bottom" class="note">
			<p>{settings.fgPrint}&nbsp;&#124;&nbsp;<strong><a href="{back}">« {settings.fgBack}</a></strong></p>
		</td>
	</tr>
	<tnu:eval code="'0'" as="printPager">
		<f:groupedFor each="{photos}" as="photosOfThisGroupe" groupBy="text" groupKey="groupText"> 
			<f:for each="{photosOfThisGroupe}" as="photo">
		  		<tnu:if condition="{printPager} && !({printPager} % 3)">
		  			<tr><td width="575" valign="top" colspan="3"><div class="divider"><hr /></div></td></tr>
				</tnu:if>
				<tr>
					<td width="400" valign="top">
						<p><f:image src="fileadmin/images/gallery/{photo.id}.jpg" alt="" width="400m" /></p>
					</td>
					<td width="15"></td>
					<td width="160" valign="bottom" class="note">
						<tnu:wiki>{tnu:gallery(mode: 'lightbox', caption: photo.caption, text: photo.text)}</tnu:wiki>
					</td>
				</tr>
				<tnu:eval code="{printPager} + 1" as="printPager" />
			</f:for>
		</f:groupedFor>
	</tnu:eval> 
</table>

<!-- [CDATA[
plugin.tx_thomasnu.settings {
	fgTitle = Fotoalbum
	fgPrint = Druckversion
	fgBack = Zurück
	}
]] -->

